:root {
  --bg-color: black;
  --text-color: white;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
}

input, textarea {
    background-color: rgba(210, 210, 255, 0.12);
    border-color:  rgba(210, 210, 255, 0.5);
    color:  var(--text-color);
  }
  