/*
    Combine :
    
    >> hz-state-list or vr-state-list
    >> monoline-fields ou multiline-fields
*/
.hz-state-list .fieldset {
  display: flex;
  flex-direction: row;
}

.hz-state-list .field {
  flex: 1;
}

.vr-state-list .fieldset {
  display: flex;
  flex-direction: column;
}

.vr-state-list .field:not(:first-child) {
  margin-top: 10px;
}

.field .label::first-letter {
  text-transform: uppercase;
}

.field .value {
  font-weight: bold;
}

.multiline-fields .field {
  display: flex;
  flex-direction: column;
}

.multiline-fields .label {
  margin-bottom: 5px;
}

.monoline-fields .field {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.monoline-fields .label {
  min-width: 120px;
}

.monoline-fields .value {
  flex: 1;
  display: flex;
}

.monoline-fields .value .input {
  flex: 1;
}

.fieldset .field {
  padding: 7px;
}

.fieldset textarea {
  box-sizing: border-box;
  height: 15vh;
  width: 100%;
}

.fieldset input:not([type=checkbox]) {
  box-sizing: border-box;
  width: 100%;
}